.contact {
	background: linear-gradient(to right,rgba(255,255,255,0) ,#FBD14D 70%);
	font-family: notosansRegular;

	@include respond-to(md) {
		padding: 15px 0;
	};

	@include respond-to(sm) {
		padding: 15px 0;
	};

	@include respond-to(xs) {
		padding: 15px 0;
	};
}

.incentives_list {
	margin-bottom: 30px;

	p {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 7px;
		@media (min-width: 992px) {
			font-size: 20px;
			display: inline-block;
			padding: 3px 10px 3px 177px;
			margin-left: -80px;
		}

		@include respond-to(md) {
			font-size: 17px;
			margin-bottom: 15px;
			padding: 5px 0;
		};

		@include respond-to(sm) {
			font-size: 21px;
			margin-bottom: 15px;
			padding: 5px 0;
		};

		@include respond-to(xs) {
			font-size: 15px;
			margin-bottom: 15px;
			padding: 5px 0;
		};
	}
}
.contact__info {
	font-size: 17px;
	font-family: notosansRegular;
	margin-bottom: 0px;
	line-height: 30px;

	@include respond-to(lg-v4) {
			font-size: 15px;
		};
}

.contact__form {
	@media (max-width: 768px) {
		margin-top: 20px;
	}
}

.form__input {
	border-radius: 0;
	border-color: #CCCCCC;

	&:hover {
		border-color: #ababab;
	}

	&:focus {
		box-shadow: none;
		border-color: #CCCCCC;
	}

	&.input-error {
		border-color: #D7244C;
	}
}

.form__textarea {
	height: 85px;
	resize: none;

	@include respond-to(lg-v4) {
		height: auto;
	};

	@include respond-to(md) {
		height: auto;
	};
}

.form__btn {
	margin-top: 20px;
	background-color: #EA8117;
	font-weight: 600;
	font-size: 20px;
	border: none;
	border-radius: 2px;

	&:hover {
		background-color: #FF850C;
	}

	&:active {
		background-color: #FF850C !important;
		box-shadow: none !important;
	}

	&:focus {
		box-shadow: none !important;
	}
}

.form__label {
	margin-bottom: .2rem;
	font-size: 16px;
	color: #666;

	&.text--red {
		color: #D7244C;
	}
}

.mb-28 {
	margin-bottom: 28px;
}

.mb-20 {
	margin-bottom: 10px;
}

.p-6 {
	padding: 6px;
}

.bg--color-orange {
	background: #FFA514;
}

.font-bold {
	font-weight: bold;
}

.info img {
	@media (max-width: 768px) {
		max-width: 25%;
		display: block;
		margin: auto;
	}
}

.title--contact {
	@include respond-to(md) {
		font-size: 21px;
	};

	@include respond-to(sm) {
		font-size: 25px;
		text-align: center;
	};

	@include respond-to(xs) {
		font-size: 24px;
		text-align: center;
		margin: 0 30px 30px;
	};
}

.img-fluid {
	width: 70%;
	@include respond-to(xs) {
		margin: 25px auto;
	};
}

.contact--special {
	background-color: #FFC30F;
	color: #8E000B;
	font-family: notosansRegular;
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
	margin-left: -80px;
	padding: 25px 15px 25px 129px;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.6);

	@include respond-to(md) {
		display: block;
		font-size: 16.2px;
		margin-left: 0;
		padding: 20px 0;
	};

	@include respond-to(sm) {
		display: block;
		font-size: 20.3px;
		margin-left: 0;
		padding: 20px 0;
	};

	@include respond-to(xs) {
		display: block;
		font-size: 14.3px;
		margin-left: 0;
		padding: 20px 0;
	};
}

.info {
	margin-left: 50px;

	@include respond-to(md) {
		margin-left: 0;
	};

	@include respond-to(sm) {
		margin-left: 0;
	};

	@include respond-to(xs) {
		margin-left: 0;
	};
}

.info--lienhe {
	text-align: center;
}

.info-plus {
	margin-left: 10px;
}

.circle {
	font-size: 30px;
}

.form-group {
	margin-bottom: 10px;

	@include respond-to(md) {
		margin-bottom: 17px;
	};
}

.title__form {
	@include respond-to(md) {
		font-size: 21px;
	};
}

.info--title {
	@include respond-to(sm) {
		width: 350px;
		margin: 20px auto;
	};

	@include respond-to(xs) {
		width: 90%;
		margin: 20px auto;
	};
}

.text--black {
	color: #212529;
}