.inside--wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  height: 80%;
  margin: 0px auto;

  @include respond-to(md) {
		width: 95%;
    margin-top: 30px;
	};

	@include respond-to(sm) {
    width: 70%;
    margin-top: 50px;
    justify-content: center;
	};

	@include respond-to(xs) {
    width: 90%;
    margin-top: 50px;
    justify-content: center;
  };
}

.title--section {
    width: 365px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 7px 15px;
    background-color: #13bf13;

    @include respond-to(md) {
		margin: 20px auto;
	};
}

.img--inside {
  position: relative;
  width: calc(100% / 3 - 30px);
  height: 250px;
  margin-bottom: 50px;
  border: 7px solid #13BF13;
  box-shadow: 4px 8px 7px rgba(0,0,0,0.45);
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include respond-to(lg-v4) {
    height: 210px;
  };

  @include respond-to(md) {
    width: calc(100% / 2 - 20px);
  };

  @include respond-to(sm) {
    width: 100%;
  };

  @include respond-to(xs) {
    width: 100%;
    margin-bottom: 40px;
  };
}

.inside--detail-01 {
  background-image: url(../imgs/Hilton-Bai-do-xe.jpg);
}

.inside--detail-02 {
  background-image: url(../imgs/Hilton-Beboi.jpg);
}

.inside--detail-03 {
  background-image: url(../imgs/Hilton-phong-gym.jpg);
}

.inside--detail-04 {
  background-image: url(../imgs/Hilton-Beboi.jpg);
}

.inside--detail-05 {
  background-image: url(../imgs/Hilton-guest-rooms.jpg);
}

.inside--detail-06 {
  background-image: url(../imgs/Hilton-Ban-cong.jpg);
}

.note--inside {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  color: #fff;
  font-size: 18px;
  font-family: notosansRegular;
  background-color: rgba(31,173,33,0.65);
  margin: 0 auto;
  padding: 6px 30px;

  // @include respond-to(md) {
  //
  // };
  //
  // @include respond-to(sm) {
  //
  // };
  //
  // @include respond-to(xs) {
  //
  // };
}
