<!DOCTYPE html>
<html lang="en">
	<head>
		<% include meta.ejs %>
		<title>Dự án Tuần Châu Marina | Tập đoàn Tuần Châu</title>
		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="/public/client/css/style.bundle.css" />
		<link rel="stylesheet" href="/public/client/css/main.css" />
	</head>
	<body>
		<main id="fullpageMarina">
			<header
				class="section active introduce"
				data-anchor="tuan-chau-marina"
			>
				<video autoplay muted loop id="myVideo">
					<source
						src="/public/client/video/video.mp4"
						type="video/mp4"
					/>
				</video>
				<div class="content--introduce">
					<marquee hspace="10%" class="title--introduce"
						>SỞ HỮU VỊ TRÍ VÀNG KINH DOANH GIÁ CHỈ TỪ 5 ĐẾN 7
						TỶ</marquee
					>
				</div>
			</header>
			<section
				class="section policy__incentives"
				data-anchor="chinh-sach-uu-dai"
			>
				<div class="size_wrap">
					<div class="policy__box">
						<h2 class="policy__box__title">Chính sách bán hàng</h2>
						<div class="policy__box__content">
							<p class="policy__incentives__list">
								Giá chỉ từ
								<strong style="color: red"
									>5,2 tỷ đến 7 tỷ
								</strong>
								sở hữu shophouse view Vịnh Hạ Long.
							</p>
							<p class="policy__incentives__list">
								Hỗ trợ đầu tư ân hạn nợ gốc và lãi suất
								<strong style="color: red"
									>0% trong 24 tháng.</strong
								>
							</p>
							<p class="policy__incentives__list">
								Chiết khấu
								<strong style="color: red">5%</strong> cho khách
								hàng không dùng gói 0%.
							</p>
							<p class="policy__incentives__list">
								Chiết khấu
								<strong style="color: red">1%</strong> cho khách
								hàng đóng sớm 50%.
							</p>
							<p class="policy__incentives__list">
								Chiết khấu
								<strong style="color: red">2%</strong> cho khách
								hàng đóng sớm 95%.
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section location" data-anchor="vi-tri">
				<div class="location--content container-fluid">
					<div class="row">
						<div class=" col-md-5 content">
							<h2 class="title title--white">
								VỊ TRÍ “VÀNG” KINH DOANH
							</h2>
							<p>
								Chiếm lĩnh “VỊ TRÍ VÀNG” trên ĐẢO TUẦN CHÂU .Dự
								án Tuần Châu Marina được đánh giá là một trong
								những dự án có vị trí ĐẮC ĐỊA NHẤT Tại đây dễ
								dàng di chuyển đến trung tâm Hạ Long và các tỉnh
								lân cận. <br />
								Cảng biển quốc Tuần Châu. Cảng biển này chính là
								nơi duy nhất mà du khách có thể di chuyển bằng
								tàu, thuyền, phà… để tham quan toàn cảnh vịnh Hạ
								Long.
							</p>
							<p class="list__indent">
								<span
									>• Nằm ngay vị trí trung tâm đảo gần sân bay
									quốc tế</span
								>
								<br />
								<span
									>• Liền kề cảng biển quốc tế Tuần Châu dài 8
									km có sức chứa 2000 tàu neo đậu.</span
								>
								<br />
								<span
									>• Thời gian di chuyển Hà Nội - Tuần Châu:
									2.5 giờ
								</span>
								<br />
								<span>• Cách khu du lịch Bãi Cháy 5.5km</span
								><br />
								<span>• Cách vịnh Hạ Long chỉ 3km</span><br />
								<span
									>• Quanh dự án 3km là hệ thống hạ tầng kỹ
									thuật – dịch vụ của đảo</span
								>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section investor" data-anchor="chu-dau-tu">
				<div class="investor--content text-center container">
					<h2 class="title">Chủ đầu tư dự án</h2>
					<div class="">
						<img
							src="/public/client/imgs/logo-tuan-chau-marina.png"
							alt="Tuần Châu Marina"
						/>
					</div>
					<p>
						<strong>Tuần Châu Marina </strong>được đầu tư, phát
						triển bởi Tập đoàn Tuần Châu và<strong>
							Gami Land </strong
						>thuộc Gami Group.Tập đoàn Tuần Châu với 20 năm kinh
						nghiệm, hình thành và phát triển, là một trong những tập
						đoàn hàng đầu Việt Nam trong lĩnh vực đầu tư phát triển
						Bất Động Sản, du lịch nghỉ dưỡng và vui chơi giải trí
						trên toàn quốc. Cùng với Gami Land (Gami Group), một
						trong những chủ đầu tư lớn và uy tín trong lĩnh vực Bất
						động sản. Sự kết hợp của 2 ông lớn mang đến sự đảm bảo
						vững chắc cho các Nhà đầu tư tiềm năng và sự phát triển
						bền vững của dự án trong tương lai.
					</p>
				</div>
			</section>
			<section class="section size" data-anchor="thong-tin-du-an">
				<div class="size__wrap">
					<div class="size__item size__item--right">
						<h2>Thông tin dự án</h2>
						<p>
							Trên tổng diện tích đất 85,195.6 m<sup>2</sup>, 47
							Block nhà phố shophouse cao 4 – 4,5 tầng công trình
							sân golf, khu vui chơi giải trí mua sắm, nhà hàng
							khách sạn bến cảng ,du thuyền.
						</p>
						<p>- Diện tích shophouse: 108 - 155 m<sup>2</sup></p>
						<p>- Diện tích sàn xây dựng: 395 – 650m<sup>2</sup></p>
						<p>
							- Điều kiện bàn giao :Hoàn thiện mặt ngoài, bàn giao
							thô bên trong
						</p>
						<p>- Hình thức sở hữu: Vĩnh Viễn</p>
						<p>- Giá bán chỉ từ 5 - 7 tỷ</p>
					</div>
					<button class="btn--size" type="button">
						Đăng ký thông tin
					</button>
				</div>
			</section>
			<section class="section highlights" data-anchor="quy-hoach">
				<div class="highlights__content">
					<div
						id="carouselExampleIndicators"
						class="carousel slide"
						data-ride="carousel"
					>
						<ol class="carousel-indicators">
							<li
								data-target="#carouselExampleIndicators"
								data-slide-to="0"
								class="active"
							></li>
							<li
								data-target="#carouselExampleIndicators"
								data-slide-to="1"
							></li>
							<li
								data-target="#carouselExampleIndicators"
								data-slide-to="2"
							></li>
							<li
								data-target="#carouselExampleIndicators"
								data-slide-to="3"
							></li>
							<li
								data-target="#carouselExampleIndicators"
								data-slide-to="4"
							></li>
							<li
								data-target="#carouselExampleIndicators"
								data-slide-to="5"
							></li>
							<li
								data-target="#carouselExampleIndicators"
								data-slide-to="6"
							></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img
									class="d-block w-100"
									src="/public/client/imgs/qh1.jpg"
								/>
							</div>
							<div class="carousel-item">
								<img
									class="d-block w-100"
									src="/public/client/imgs/qh2.jpg"
								/>
							</div>
							<div class="carousel-item">
								<img
									class="d-block w-100"
									src="/public/client/imgs/qh5.jpg"
								/>
							</div>
							<div class="carousel-item">
								<img
									class="d-block w-100"
									src="/public/client/imgs/qh6.jpg"
								/>
							</div>
							<div class="carousel-item">
								<img
									class="d-block w-100"
									src="/public/client/imgs/qh7.jpg"
								/>
							</div>
							<div class="carousel-item">
								<img
									class="d-block w-100"
									src="/public/client/imgs/qh8.gif"
								/>
							</div>
						</div>
						<a
							class="carousel-control-prev"
							href="#carouselExampleIndicators"
							role="button"
							data-slide="prev"
						>
							<span
								class="carousel-control-prev-icon"
								aria-hidden="true"
							></span>
							<span class="sr-only">Previous</span>
						</a>
						<a
							class="carousel-control-next"
							href="#carouselExampleIndicators"
							role="button"
							data-slide="next"
						>
							<span
								class="carousel-control-next-icon"
								aria-hidden="true"
							></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</section>
			<section class="section utility" data-anchor="tien-ich-ben-ngoai">
				<div class="utility--wrap">
					<div class="utility--title">
						<h2 class="title title--white">
							Tiện ích <br />bên ngoài
						</h2>
						<p>
							Dự án Tuần Châu Marina chia làm 2 giai đoạn . Đã có
							nhiều Shophouse giai đoạn 1 đã đi vào hoạt động và
							kinh doanh . Chủ đầu tư Gami đang triển khai nhanh
							chóng để bàn giao cho khách hàng.
						</p>
					</div>
					<div class="utility--content">
						<div class="utility--detail">
							<img
								src="/public/client/imgs/pho-di-bo.jpg"
								alt="Phố đi bộ"
								class="img-responsive"
							/>
							<p class="content--detail">Phố đi bộ</p>
						</div>
						<div class="utility--detail">
							<img
								src="/public/client/imgs/san-golf.jpg"
								alt="Sân Golf quốc tế 27 lỗ"
								class="img-responsive"
							/>
							<p class="content--detail">
								Sân Golf quốc tế 27 lỗ
							</p>
						</div>
						<div class="utility--detail">
							<img
								src="/public/client/imgs/truong-quoc-te.jpg"
								alt="Trường quốc tế"
								class="img-responsive"
							/>
							<p class="content--detail">Trường quốc tế</p>
						</div>
						<div class="utility--detail">
							<img
								src="/public/client/imgs/ben-du-thuyen.jpg"
								alt="Bến du thuyền"
								class="img-responsive"
							/>
							<p class="content--detail">Bến du thuyền</p>
						</div>
					</div>
				</div>
			</section>
			<section
				class="section utility--inside-detail"
				data-anchor="tien-ich-ben-trong"
			>
				<h2 class="title title--section title--white">
					Tiện ích bên trong
				</h2>
				<div class="inside--wrap">
					<div class=" img--inside inside--detail-01">
						<p class="note--inside" style="font-size: 14px">
							Trung tâm văn hóa và rạp chiếu phim
						</p>
					</div>
					<div class="img--inside inside--detail-02">
						<p class="note--inside">
							Dịch vụ y tế thương mại công cộng
						</p>
					</div>
					<div class="img--inside inside--detail-03">
						<p class="note--inside">Nhà hàng Café Club</p>
					</div>
					<div class="img--inside inside--detail-04">
						<p class="note--inside">Cửa hàng tiện ích</p>
					</div>
					<div class="img--inside inside--detail-05">
						<p class="note--inside">Khu vực kinh doanh khách sạn</p>
					</div>
					<div class="img--inside inside--detail-06">
						<p class="note--inside">Sân chơi thể thao</p>
					</div>
					<div class="img--inside inside--detail-07">
						<p class="note--inside">Bãi đỗ xe</p>
					</div>
				</div>
			</section>
			<section class="section review" data-anchor="video-gioi-thieu">
				<div class="review-video">
					<h2 class="title title--section title--white title-review">
						Video giới thiệu
					</h2>
					<iframe
						class="video"
						src="https://drive.google.com/file/d/1uH8t0wqvgmfN9e8dSdjIfCHj7lzujv6k/preview"
					></iframe>
				</div>
			</section>
			<footer class="section contact" data-anchor="lien-he">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-7 contact__incentives">
							<h2
								class="title title--light-red mb-28 title--contact title--uppercase"
							>
								Nhận bảng giá chi tiết 02 giai đoạn mở bán của
								Tuần Châu Marina
							</h2>
							<div class="incentives_list">
								<div>
									<p
										class="title--white bg--color-orange title--uppercase"
									>
										<i
											class="fa fa-star title--light-red"
										></i
										>Đầu tư thông minh kết hợp 3 trong 1:<br />
										Nghỉ dưỡng - Kinh doanh - Văn phòng
									</p>
								</div>
								<div>
									<p
										class="title--white bg--color-orange title--uppercase"
									>
										<i
											class="fa fa-star title--light-red"
										></i>
										Giá gốc từ chủ đầu tư
									</p>
								</div>
								<div>
									<p
										class="title--white bg--color-orange title--uppercase"
									>
										<i
											class="fa fa-star title--light-red"
										></i>
										Tiềm năng tăng giá cao trong tương lai
									</p>
								</div>
								<div>
									<p
										class="title--white bg--color-orange title--uppercase"
									>
										<i
											class="fa fa-star title--light-red"
										></i>
										Kinh doanh bền vững qua các thế hệ
									</p>
								</div>
								<div>
									<div class="contact--special">
										<i
											class="fa fa-star title--light-red"
										></i>
										<i
											class="fa fa-star title--light-red"
										></i>
										<i
											class="fa fa-star title--light-red"
										></i>
										HỖ TRỢ KÝ GỬI - TÁI ĐẦU TƯ CHO KHÁCH
										HÀNG
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 contact__form">
							<h1 class="title title--green mb-20 title__form">
								ĐĂNG KÝ THÔNG TIN
							</h1>
							<form
								action="/subscribe"
								method="POST"
								role="form"
								id="contact"
							>
								<div class="form-group">
									<label for="name" class="form__label"
										>Họ và tên:</label
									>
									<input
										type="text"
										class="form-control form__input p-6 input--name"
										name="fullName"
										id="name"
										required
									/>
								</div>
								<div class="form-group">
									<label
										for="phone_number"
										class="form__label"
										>Số điện thoại:</label
									>
									<input
										type="text"
										class="form-control form__input p-6 input--phone-number"
										name="phone"
										id="phone_number"
										required
										pattern="^09[0-46-9][0-9]{7}$|^012[0-9]{8}$|^016[2-9][0-9]{7}$|^018[68][0-9]{7}$|^0199[0-9]{7}$|^08[689][0-9]{7}$|^02[0-9]{9}$"
									/>
								</div>
								<div class="form-group">
									<label for="email" class="form__label"
										>Email:</label
									>
									<input
										type="email"
										class="form-control form__input p-6 input--email"
										name="email"
										id="email"
									/>
								</div>
								<div class="form-group">
									<label for="message" class="form__label"
										>Yêu cầu:</label
									><textarea
										class="form-control form__input form__textarea p-6"
										name="content"
										id="message"
									></textarea>
								</div>
								<button
									type="submit"
									id="btnFormSubmit"
									class="btn-block btn btn-primary form__btn btn--bg-orange"
								>
									NHẬN BẢNG GIÁ
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="container">
					<hr />
					<div class="info">
						<div class="row">
							<div class="col-md-2 text-center">
								<h2 class="title title--green text-center">
									Liên hệ
								</h2>
							</div>
							<div class="col-md-6">
								<p class="contact__info title--black font-bold">
									HỆ THỐNG SIÊU THỊ DỰ ÁN BẤT ĐỘNG SẢN
								</p>
								<p class="contact__info title--black font-bold">
									TRƯỞNG PHÒNG KINH DOANH: NGUYỄN THU HÀ
								</p>
								<p class="contact__info mgTop31">
									• HOTLINE:
									<a
										href="tel:0916 353 773"
										class="text--black"
										>0916 353 773</a
									>
								</p>
								<p class="contact__info mgTop31">
									• Địa chỉ: 137 Nguyễn Ngọc Vũ, Cầu Giấy, Hà
									Nội
								</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</main>
		<div class="phone-call">
			<a href="tel:0916 353 773" class="phone-call__icon">
				<i class="fa fa-phone" aria-hidden="true"></i>
			</a>
			<div class="phone-call__content--wrap">
				<div class="phone-call__content--item">
					<a href="tel:0916 353 773">0916 353 773</a>
				</div>
			</div>
		</div>
		<button class="btn__subscribe">NHẬN BẢNG GIÁ</button>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="/public/client/js/main.bundle.js"></script>
		<script src="/public/client/js/main.js"></script>
	</body>
</html>
