#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.introduce{
  background:url(../imgs/shophouse-tuan-chau-marina.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center
}
.div--logo h2{
  color:#fff
}
.content--introduce{
  left:50%;
  transform:translateX(-50%)
}
.adv{
  background-image:url(../imgs/dac-diem-noi-bat.jpg);
  height:100%;
  background-position:50%;
  background-repeat:no-repeat;
  background-size:cover
}
.adv--content{
  width:500px;
  height:100%;
  padding:50px 40px;
  background:linear-gradient(270deg,rgba(255,0,0,0),#1fad1f)
}
.adv--content p{
  font-size:14px;
  color:#fff;
  line-height:24px
}
.investor{
  background:linear-gradient(90deg,hsla(0,0%,100%,0),#00bcd487 70%)
}
.size{
  background:url(../imgs/page-7-min_copy.jpg) no-repeat 50%;
  background-size:cover;
  padding:20px
}
.size__item--left-1{
  top:-270px
}
.location{
  background:#a3cdff url(../imgs/vi-tri_copy.jpg) no-repeat 50%;
  background-size:cover;
  padding:25px
}
.location .location--content .content{
  padding-bottom:15px;
  background:rgba(24,156,46,.5);
  color:#fff
}
.location .location--content p{
  padding:20px
}
.size{
  display:flex;
  align-items:center
}
.size__wrap{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items:flex-end;
  padding:0 50px
}
.size__item{
  position:static
}
.btn--size{
  position:static;
  margin-top:15px
}
.pdLeft15 li{
  font-size:14px;
  line-height:25px
}
.highlights{
  display:flex;
  justify-content: center;
  align-items:center;
  background:url(../imgs/quy-hoach.jpg) no-repeat 50%;
  background-size:cover;
  padding:25px
}
.highlights__content{
  width: 80%;
  position:static;
  transform:translateY(0)!important;
  margin-left:35px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap
}
.highlights__content--bottom{
  margin-top:25px
}
.utility{
  padding:20px
}
.utility--inside-detail{
  padding-bottom:35px
}
.inside--detail-01{
  background:url(../imgs/rap-chieu-phim.jpg) center;
  background-size:cover
}
.inside--wrap{
  justify-content:center
}
.inside--detail-02{
  background:url(../imgs/dich-vu-y-te.jpg) center;
  background-size:cover
}
.inside--detail-03{
  background:url(../imgs/nha-hang-cafe.jpg) center;
  background-size:cover
}
.inside--detail-04{
  background:url(../imgs/cua-hang-tien-ich.jpg) center;
  background-size:cover
}
.inside--detail-05{
  background:url(../imgs/khu-vuc-kinh-doanh-khach-san.png) center;
  background-size:cover
}
.inside--detail-06{
  background:url(../imgs/san-choi-the-thao.jpg) center;
  background-size:cover
}
.inside--detail-07{
  background:url(../imgs/bai-do-xe.jpg) center;
  background-size:cover
}
.img--inside{
  width:calc(100% / 4 - 34px);
  margin:15px
}
.note--inside{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:5px;
  font-size:14px
}
.title--uppercase{
  text-transform:uppercase
}
.utility--detail img{
  object-fit:cover
}
.content--detail{
  font-size:16px
}
.title-review {
  background-color: #28a745;
}
@media (max-width: 1200px) and (min-width: 992px){
  .utility--title{
      margin-left:55vw
  }
}
@media (max-width: 992px){
  #myVideo {
    display: none;
  }
  .highlights__content{
      flex-direction:row;
      justify-content:space-around;
      margin-left:0
  }
  .highlights__content--item{
      margin:0
  }
  .list__indent{
      margin-left:0!important
  }
  .img--inside{
      width:calc(100% / 2 - 34px);
      margin:15px
  }
}
@media (max-width: 768px){
  .highlights {
    padding: 50px 0;
  }
  .highlights__content {
    width: 95%;
  }
  #myVideo {
    display: none;
  }
  .title-review {
    margin-bottom: 15px;
  }
  .size__wrap{
      align-items:center
  }
  .size__item{
      margin-top:25px;
      width:80%
  }
  .btn--size{
      width:80%;
      margin:0 0 20px
  }
  .highlights__content{
      flex-direction:column;
      align-items:center
  }
  .highlights__content--top{
      margin-bottom:25px
  }
  .highlights__content--item{
      width:90%
  }
  .utility--content{
      margin-top:20px
  }
  .img--inside{
      width:100%
  }
}
@media (max-width: 572px){
  .highlights {
    padding: 50px 0;
  }
  #myVideo {
    display: none;
  }
  .highlights__content {
    width: 95%;
  }
  .title-review {
    margin-bottom: 15px;
  }
  .introduce{
      height:300px
  }
  .size__item{
      width:100%
  }
  .btn--size{
      width:100%
  }
  .size__item--right h2{
      font-size:20px
  }
  .btn__subscribe{
      font-size:16px
  }
  .adv--content{
      width:auto
  }
}
.gift{
  margin:0 auto;
  padding:20px;
  width:60%;
  background-color:rgba(255,194,31,0.8);
  font-size:33px;
  font-family:BebasNeueBold;
  text-align:center;
  border-radius:20px
}
@media (max-width: 576px){
  .content--introduce{
      transform:unset!important
  }
  .title--introduce{
      font-size:35px!important
  }
  .gift{
      padding:10px;
      width:80%;
      font-size:20px;
      border-radius:10px
  }
}
.content--introduce{
  width:100%;
  background-color:transparent
}
.title--introduce{
  text-shadow:-1px 0 #fff,0 1px #fff,1px 0 #fff,0 -1px #fff;
  font-size:50px;
  color:#e75796
}
