<% layout('admin/boilerplate_auth') %>
<div class="form login_form">
    <section class="login_content">
        <form action="/auth/login" method="post" class="form-validation-pl">
            <h1>Đăng Nhập</h1>
            <div>
                <input type="text" name="email" class="form-control" placeholder="Tên đăng nhập" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required data-parsley-pattern-message="Tên đăng nhập không hợp lệ" data-parsley-required-message="Bạn chưa nhập Tên đăng nhập">
            </div>
            <div>
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu" required data-parsley-required-message="Bạn chưa nhập Mật khẩu" autocomplete="off">
            </div>
            <div>
                <button class="btn btn-default submit" type="submit">Đăng nhập</button>
                <a class="reset_pass" href="/auth/password/forgot">Quên mật khẩu?</a>
            </div>

            <div class="clearfix"></div>
            <div class="separator">
                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
            </div>
        </form>
    </section>
</div>